@charset "UTF-8";

html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
/* 
  RESPONSIVE FONT CONFIGURATIONS START
  Match your projects breakpoints
  Edit breakpoints all the below if you change in :root 
*/
:root {
  /* Breakpoint Variables */
  --bp-small: 36;
  --bp-medium: 48;
  --bp-large: 62;
  --bp-xlarge: 75;
  /* Inital values italics */
  --text-wght: 300;
  --text-ital: 0;
  /* Paragraph varaibles */
  --p-line-height-min: 1.15;
  --p-line-height-max: 1.25;
  --p-font-size-min: 1;
  --p-font-size-max: 1.25;
  --p-vf-wght: var(--text-weight);
  /* H1 varaibles */
  --h1-line-height-min: 1;
  --h1-line-height-max: 1;
  --h1-font-size-min: 3;
  --h1-font-size-max: 5;
  --h1-vf-wght-multiplier-s: 0.33;
  --h1-vf-wght-multiplier-m: 0.33;
  --h1-vf-wght-multiplier-l: 0.33;
  /* H2 varaibles */
  --h2-line-height-min: 1.1;
  --h2-line-height-max: 1.1;
  --h2-font-size-min: 1.75;
  --h2-font-size-max: 2.5;
  --h2-vf-wght-multiplier-s: 1.15;
  --h2-vf-wght-multiplier-m: 1.5;
  --h2-vf-wght-multiplier-l: 1.75;
  /* H3 varaibles */
  --h3-line-height-min: 1.1;
  --h3-line-height-max: 1.1;
  --h3-font-size-min: 1.75;
  --h3-font-size-max: 2.5;
  --h3-vf-wght-multiplier-s: 0.5;
  --h3-vf-wght-multiplier-m: 0.5;
  --h3-vf-wght-multiplier-l: 0.5;
}

/* Generic Font */
body,
div,
p,
th,
td,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
figcaption,
cite,
i,
em,
b,
strong,
button {
  font-family: 'Work Sans', 'Nunito', sans-serif;
  font-weight: normal;
  font-style: normal;
  margin: 0;
  padding: 0;
}
/* P */
p {
  font-size: calc(var(--p-font-size-min) * 1rem);
  line-height: var(--p-line-height-min);
  max-width: 38rem;
}
@media screen and (min-width: 36rem) {
  p {
    line-height: calc(
      (var(--p-line-height-min) * 1rem) +
        (var(--p-line-height-max) - var(--p-line-height-min)) *
        (
          (100vw - (var(--bp-small) * 1rem)) /
            (var(--bp-large) - var(--bp-small))
        )
    );
  }
}
@media screen and (min-width: 62rem) {
  p {
    font-size: calc(
      (var(--p-font-size-min) * 1rem) +
        (var(--p-font-size-max) - var(--p-font-size-min)) *
        (
          (100vw - (var(--bp-large) * 1rem)) /
            (var(--bp-xlarge) - var(--bp-large))
        )
    );
    line-height: var(--p-line-height-max);
  }
}
@media screen and (min-width: 75rem) {
  p {
    font-size: calc(var(--p-font-size-max) * 1rem);
    max-width: 42rem;
  }
}
/* Generic headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito', sans-serif;
  font-weight: normal;
  --text-wght: calc(var(--p-vf-wght) * var(--h1-vf-wght-multiplier-s));
}
/*    H1    */
h1 {
  /* set --text-wght multiplier */
  --text-wght: calc(var(--p-vf-wght) * var(--h1-vf-wght-multiplier-s));
  --text-ital: 0;
  font-size: calc(var(--h1-font-size-min) * 1rem);
  line-height: var(--h1-line-height-min);
}
@media screen and (min-width: 36rem) {
  h1 {
    line-height: calc(
      (var(--h1-line-height-min) * 1rem) +
        (var(--h1-line-height-max) - var(--h1-line-height-min)) *
        (
          (100vw - (var(--bp-small) * 1rem)) /
            (var(--bp-xlarge) - var(--bp-small))
        )
    );
    font-size: calc(
      (var(--h1-font-size-min) * 1rem) +
        (var(--h1-font-size-max) - var(--h1-font-size-min)) *
        (
          (100vw - (var(--bp-small) * 1rem)) /
            (var(--bp-xlarge) - var(--bp-small))
        )
    );
  }
}
@media screen and (min-width: 48rem) {
  h1 {
    --text-wght: calc(var(--p-vf-wght) * var(--h1-vf-wght-multiplier-m));
    max-width: 60rem;
  }
}
@media screen and (min-width: 62rem) {
  h1 {
    --text-wght: calc(var(--p-vf-wght) * var(--h1-vf-wght-multiplier-l));
    line-height: var(--h1-line-height-max);
    max-width: 70rem;
  }
}
@media (min-width: 75rem) {
  h1 {
    font-size: calc(var(--h1-font-size-max) * 1rem);
    line-height: var(--h1-line-height-max);
    max-width: 75rem;
  }
}
/*    H2    */
h2 {
  /* set --text-wght multiplier */
  --text-wght: calc(var(--p-vf-wght) * var(--h2-vf-wght-multiplier-s));
  --text-ital: 0;
  font-size: calc(var(--h2-font-size-min) * 1rem);
  line-height: var(--h2-line-height-min);
  max-width: 38rem;
}
@media screen and (min-width: 36rem) {
  h2 {
    line-height: calc(
      (var(--h2-line-height-min) * 1rem) +
        (var(--h2-line-height-max) - var(--h2-line-height-min)) *
        (
          (100vw - (var(--bp-small) * 1rem)) /
            (var(--bp-xlarge) - var(--bp-small))
        )
    );
    font-size: calc(
      (var(--h2-font-size-min) * 1rem) +
        (var(--h2-font-size-max) - var(--h2-font-size-min)) *
        (
          (100vw - (var(--bp-small) * 1rem)) /
            (var(--bp-xlarge) - var(--bp-small))
        )
    );
  }
}
@media screen and (min-width: 48rem) {
  h2 {
    --text-wght: calc(var(--p-vf-wght) * var(--h2-vf-wght-multiplier-m));
    max-width: 60rem;
  }
}
@media screen and (min-width: 62rem) {
  h2 {
    --text-wght: calc(var(--p-vf-wght) * var(--h2-vf-wght-multiplier-l));
    line-height: var(--h2-line-height-max);
    max-width: 70rem;
  }
}
@media (min-width: 72rem) {
  h2 {
    font-size: calc(var(--h2-font-size-max) * 1rem);
    line-height: var(--h2-line-height-max);
    max-width: 75rem;
  }
}
/*    H3     */
h3 {
  --text-wght: calc(var(--p-vf-wght) * var(--h3-vf-wght-multiplier-s));
  --text-ital: 1;
  font-size: calc(var(--h3-font-size-min) * 1rem);
  line-height: var(--h3-line-height-min);
  max-width: 38rem;
}
@media screen and (min-width: 36rem) {
  h3 {
    line-height: calc(
      (var(--h3-line-height-min) * 1rem) +
        (var(--h3-line-height-max) - var(--h3-line-height-min)) *
        (
          (100vw - (var(--bp-small) * 1rem)) /
            (var(--bp-xlarge) - var(--bp-small))
        )
    );
    font-size: calc(
      (var(--h3-font-size-min) * 1rem) +
        (var(--h3-font-size-max) - var(--h3-font-size-min)) *
        (
          (100vw - (var(--bp-small) * 1rem)) /
            (var(--bp-xlarge) - var(--bp-small))
        )
    );
  }
}
@media screen and (min-width: 48rem) {
  h3 {
    --text-wght: calc(var(--p-vf-wght) * var(--h3-vf-wght-multiplier-m));
    max-width: 38.5rem;
  }
}
@media screen and (min-width: 62rem) {
  h3 {
    --text-wght: calc(var(--p-vf-wght) * var(--h3-vf-wght-multiplier-l));
    line-height: var(--h3-line-height-max);
    max-width: 38.5rem;
  }
}
@media (min-width: 72rem) {
  h3 {
    font-size: calc(var(--h3-font-size-max) * 1rem);
    line-height: var(--h3-line-height-max);
    max-width: none;
  }
}
/* 
  RESPONSIVE FONT CONFIGURATIONS END
*/
